{% extends 'base.html' %}

{% block header_text %}Your To-Do list{% endblock %}

{% block form %}
    <form method="POST" action="{% url 'view_list' list.id %}" >
        {{ form.text }}
        {% csrf_token %}
        {% if form.errors %}
            <div class="error">{{ form.text.errors }}</div>
        {% endif %}
    </form>
{% endblock %}

{% block table %}
    <table id="id_list_table">
        {% for item in list.item_set.all %}
            <tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
        {% endfor %}
    </table>
{% endblock %}
