{% extends 'base.html' %}

{% block header_text %}Your To-Do list{% endblock %}


{% block extra_header %}
  {% url 'view_list' list.id as form_action %}
  {% include "form.html" with form=form form_action=form_action %}
{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-6">
    <table class="table" id="id_list_table">
      {% for item in list.item_set.all %}
        <tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
      {% endfor %}
    </table>

  </div>
</div>

<div class="row">
  <div class="col-md-9">
  </div>

  <div class="col-md-3">
    {% if list.owner %}
      <h4>List owner</h4>
      <p id="id_list_owner">{{ list.owner.email }}</p>
      {% if list.shared_with.all.exists %}
        <h4>Shared with</h4>
        <ul class="list-unstyled">
            {% for sharee in list.shared_with.all %}
              <li class="list-sharee">{{ sharee.email }}</li>
            {% endfor %}
        </ul>
      {% endif %}

      <h4>Share this list:</h4>
      <form method="POST" action="{% url 'share_list' list.id %}" >
        {% csrf_token %}
        <input class="form-control" name="sharee" placeholder="your-friend@example.com" />
      </form>
    </div>
    {% endif %}

</div>
{% endblock %}

{% block scripts %}
  {% include "scripts.html" %}
{% endblock %}

