[Unit]
Description=Gunicorn server for {{ host }}

[Service]
User={{ user }}
WorkingDirectory=/home/{{ user }}/sites/{{ host }}/source
Restart=on-failure
ExecStart=/home/{{ user }}/sites/{{ host }}/virtualenv/bin/gunicorn \
    --bind unix:/tmp/{{ host }}.socket \
    --access-logfile ../access.log \
    --error-logfile ../error.log \
    superlists.wsgi:application

